.profile {
  padding: 2rem;
  height: 100%;
}

.or {
  font-size: 1.5rem;
  color: #7fffd4;
  font-weight: bold;
  margin: 1rem 0;
}

.profile__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile__desc {
  text-align: center;
  max-width: 500px;
  width: 100%;
  margin: 1rem;
}

.profile__user {
  background-color: #fff;
  border: 2px solid #e1e8e1;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  padding: 1rem 0;
}

.profile__title {
  font-size: 2rem;
  font-weight: 600;
  font-style: oblique;
}

.profile__paragraph {
  margin: 2rem 0;
}

.profile__detail {
  font-size: 1.2rem;
  font-weight: 400;
}

.profile__link {
  font-size: 1.2rem;
  font-weight: 600;
  background-color: #0651dd;
  color: #f1f2f6;
  padding: 0.4rem;
  border-radius: 0.5rem;
  text-decoration: none;
}

.profile__link:hover {
  background-color: #1550bd;
  color: #fff;
  text-decoration: underline;
}

.profile__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
}

.btn__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-top: .5rem;
}

.btn__link {
  font-size: 1.3rem;
  font-weight: 600;
  color: green;
  text-decoration: none;
}

.btn__link:hover {
  text-decoration: underline;
}

.btn {
  background-color: #e1e8e1;
  color: red;
  border: none;
  border-radius: 1rem;
  padding: .5rem;
  font-size: 1rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #d1d8d1;
  color: #0651ddbb;
}

.btn:active {
  background-color: #c1c8c1;
  color: #0651ddbb;
}

.sign__btn {
  background-color: #0651ddbb;
  color: #fff;
  border: none;
  border-radius: 1rem;
  padding: .5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.sign__btn:hover {
  background-color: #0651dd;
  color: #fff;
}

.sign__btn:active {
  background-color: #0651dd;
  color: #fff;
}

.sign__heading {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;
}

.sign__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign__label {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: .5rem;
}

.sign__input {
  border: 1px solid #e1e8e1;
  border-radius: 1rem;
  padding: .5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.sign__input:focus {
  outline: none;
}

.register {
  padding: 2rem;
  height: 100%;
}

.register__container {
  margin: 2rem;
  text-align: center;
}

.register__title {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

.register__phone {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  margin-top: 1rem;
}

.register__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.register__form--title {
  font-size: 1.2rem;
  font-weight: 600;
}

.register__group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: .5rem;
}

.register__label {
  font-size: 1rem;
  font-weight: 600;
}

.register__input {
  border: 1px solid #e1e8e1;
  border-radius: 1rem;
  padding: .5rem;
  font-size: 1rem;
}

.register__input:focus {
  outline: none;
}

.error {
  color: red;
  font-size: 1rem;
  font-weight: 600;
  margin-top: -.5rem;
}

@media screen and (max-width: 600px) {
  /* .profile__container {
    padding: 1rem;
  } */

  .profile__desc {
    margin: 1rem 0;
  }

  .profile__title {
    font-size: 1.5rem;
  }

  .profile__detail {
    font-size: 1rem;
    display: block;
  }

}