.profile {
  padding: 2rem;
  height: 100%;
}

.profile__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile__desc {
  text-align: center;
  max-width: 600px;
  width: 100%;
}

.profile__user {
  background-color: #fff;
  border: 2px solid #e1e8e1;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  padding: 1rem 0;
}

.profile__title {
  font-size: 2rem;
  font-weight: 600;
  font-style: oblique;
}

.profile__detail {
  font-size: 1.2rem;
  font-weight: 400;
}

.btn__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-top: 2rem;
}

.sign__btn {
  background-color: #e1e8e1;
  color: red;
  border: none;
  border-radius: 1rem;
  padding: .5rem;
  font-size: 1rem;
  cursor: pointer;
}

.sign__btn:hover {
  background-color: #d1d8d1;
  color: #0651ddbb;
}

.sign__btn:active {
  background-color: #c1c8c1;
  color: #0651ddbb;
}
