.profile {
  padding: 2rem;
  height: 100%;
}

.profile__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.profile__desc {
  margin-top: 1rem;
  text-align: center;
}

.profile__user {
  background-color: #fff;
  border-radius: 50%;
  height: 50rem;
  max-width: fit-content;
  width: 50rem;
}