.update {
  background-color: #f5f5f5;
  padding: 2rem;
  margin: 2rem 0;
  border: 1px solid #ddd;
  border-radius: 1rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.update__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.update__title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.update__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.update__group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.update__label {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.update__input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.update__input:focus {
  outline: none;
}

.update__button {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  background-color: #fff;
  color: #000;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}