.users {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 1rem;
}

.users__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.users__heading {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.users__list {
  list-style: none;
  padding: 2rem;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.user__items {
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.user__item {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: .5rem;
  display: flex;
  justify-content: flex-start;
  gap: .5rem;
  font-size: 1rem;
}

.user__img {
  width: 80%;
  border-radius: 50%;
  margin-left: 1rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/* BUTTON BELOW */
.btn__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.active:hover {
  background-color: #ced6e0;
  color: #1e90ff;
}

.active:active {
  background-color: #70a1ff;
  color: #ced6e0;
}

.btn__array {
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}

.search__box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search__link {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #1e90ff;
  border-radius: 1rem;
  width: 18rem;
  padding: 0.5rem;
  margin: 1rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  animation: search 1s ease-in-out infinite;
}

.search__link:hover {
  background-color: #1e90ff;
  color: #fff;
  animation: none;
}

.search__link:active {
  background-color: #70a1ff;
  color: #fff;
  animation: none;
}

@media screen and (max-width: 1000px) {
  .user__item {
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
  }
}

@media screen and (max-width: 860px) {
  .users__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .user__item {
    flex-direction: row;
  }
}

@media screen and (max-width: 675px) {
  .user__item {
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
  }
}

@media screen and (max-width: 570px) {
  .users__list {
    grid-template-columns: repeat(1, 1fr);
  }

  .btn__array {
    padding: 0.3rem;
    margin: .2rem;
    font-size: .8rem;
  }

  .pagination {
    font-size: .8rem;
  }

  .search__link {
    width: 15rem;
    font-size: .8rem;
  }
}

@keyframes search {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}