.filter {
  width: 100%;
  height: 100%;
}

.filter__heading {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  font-style: italic;
  color: #70a1ff;
}

.filter__search {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.filter__search__input {
  width: 15rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0 1rem;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
}

.filter__search__input:focus {
  outline: none;
}

.filtered__users {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.filtered__users--wrapper {
  width: 18rem;
  border: 1px solid #ccc;
  box-shadow: 0 0 1rem #ccc;
  border-radius: 1rem;
  padding: 0.2rem 1rem;
  text-align: center;
}

.filtered__user--img {
  width: 85%;
  border-radius: 50%;
}
